---
import Layout from '../layouts/Layout.astro';

---

<Layout title=''>
<div class="content-contact">   
<p>contacto</p>
</div>
</Layout>

<style>
    .content-contact{
        height: 100vh;
    }
</style>