---
import Layout from '../layouts/Layout.astro';
import Form from "../components/inicio/form.astro";
---

<Layout title=''>
<div class="content-contact">   
<p>contacto</p>
</div>
<Form/>
</Layout>

<style>
    .content-contact{
        height: 100vh;
    }
</style>