---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<div class="content-index">
	  <p class="text-6xl">pagina principal</p>
    </div>
</Layout>

<style>
    .content-index{
        height: 100vh;
    }
</style>