---
import Layout from '../layouts/Layout.astro';

---

<Layout title="">
<div class="content-nosotros">
<p>sobre nosotros</p>
</Layout>
</div>

<style>
    .content-nosotros{
        height: 100vh;
    }
</style>