---
import Layout from '../layouts/Layout.astro';

---

<Layout title=''>
<div class="content-service"> 
<p>servicios</p>
</div>
</Layout>

<style>
    .content-service{
        height: 100vh;
    }
</style>