---
import Layout from '../layouts/Layout.astro';
import video from "../videos/video-inicial3.mp4";
import Services from "../components/Services.astro";
import Elegirnos from "../components/Elegirnos.astro";
import WhatsApp from "../components/WhatsApp.astro";
---

<Layout title=''>
    <div class="header content">
        <video src={video} autoplay loop></video>
    </div>
    <div class="overlay"></div>
    <div class="header-content">
        <h1 class="text-2xl sm:text-2xl md:text-4xl lg:text-4xl text-center my-14 font-extrabold">Nuestros Servicios</h1>
        <h3 class="text-center text-xl sm:text-xl md:text-2xl lg:text-2xl mb-10 mx-4 sm:mx-4 font-bold">Elegí lo mejor, elegí TakeOff</h3>
        <h5 class="text-center text-xl sm:text-xl md:text-2xl lg:text-2xl mb-10 mx-4 sm:mx-4 font-semibold">A continuación te presentamos en detalle los servicios que nuestra agencia tiene para ofrecerte</h5>
    </div>
    <Services/>
    <Elegirnos/>
    <WhatsApp/>
</Layout>

<style>
    .header {
        overflow: hidden;
        margin: 0;
        height: 100vh;
        color: aqua;
        width: 100%;
        position: relative;
    }

    video {
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        position: absolute;
    }

    /* .overlay {
       width: 100%;
       height: 100%;
       background: rgba(66, 119, 139, 0.411); 
       position: absolute;
       top: 0;
       left: 0;
       margin-top: 147px;
    } */

    .header-content {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

