---
import video from "../../videos/video-inicio1.mp4";
---

<div class="header content">
    <video src={video} autoplay loop></video>
</div>
<div class="overlay"></div>
<div class="header-content">
    <h1 class="text-3xl mt-5 sm:text-xl md:text-4xl lg:text-6xl font-bold">¿Estás listo para el despegue?</h1>
    <p class="text-1xl md:text-1xl lg:text-2xl mt-8 font-bold ">
        Con más de 5 años de experiencia, somos líderes en la creación de sitios web impactantes.
        Desde tiendas online con WooCommerce hasta páginas informativas, institucionales y 
        para emprendimientos, nuestro equipo de +20 especialistas ofrece soluciones a medida. 
        Impulsamos tu presencia digital con diseño creativo, tecnología avanzada y soporte personalizado.
        Eleva tu proyecto al siguiente nivel con nosotros.
    </p>
</div>

<style>
    .header {
        overflow: hidden;
        margin: 0;
        height: 100vh;
        color: aqua;
        width: 100%;
        position: relative;
    }

    video {
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        position: absolute;
    }

    /* .overlay {
       width: 100%;
       height: 100%;
       background: rgba(66, 119, 139, 0.411); 
       position: absolute;
       top: 0;
       left: 0;
       margin-top: 147px;
    } */

    .header-content {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-top: 40px;
    }
</style>
