---
import CardInfo from "./cardInfo.astro";
import dataCard from "../../data/dataCard";
---

<div class=" min-h-full" >
    <div class="flex flex-col items-center justify-center">
        <h1>¿Que podemos hacer por tu negocio en linea?</h1>
        <h4>
            En nuestra agencia nos encargamos de trabajar en diversas áreas con
            la idea de que tu empresa crezca y funcione de manera óptima
        </h4>
    </div>
    <div class="flex flex-wrap justify-center items-center">
        {
            dataCard.map(({ title, icon, description }) => (
                <CardInfo title={title} icon={icon} description={description} />
            ))
        }
    </div>
</div>

<style>
    .content-index {
        height: 100vh;
    }
</style>
