---
import CardInfo from "./cardInfo.astro";
import dataCard from "../../data/dataCard";
---

<div class=" min-h-full bg-gray-200" >
    <div class="flex flex-col items-center justify-center text-center">
        <h1 class="text-4xl mt-8 sm:text-2xl lg:text-6xl font-bold">¿Que podemos hacer por tu negocio en linea?</h1>
        <h4 class="text-2xl mx-8 my-8 sm:text-lg md:text-xl lg:text-2xl font-bold">
            En nuestra agencia nos encargamos de trabajar en diversas áreas con
            la idea de que tu empresa crezca y funcione de manera óptima
        </h4>
    </div>
    <div class="flex flex-wrap justify-center items-center animate-fade-up animate-once">
        {
            dataCard.map(({ title, icon, description }) => (
                <CardInfo title={title} icon={icon} description={description} />
            ))
        }
    </div>
</div>

<style>
    .content-index {
        height: 100vh;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        const animatedElement = document.querySelector('.animate-fade-up.animate-once');
        const threshold = 0.5;
  
        window.addEventListener('scroll', function () {
            
            const elementPosition = animatedElement.getBoundingClientRect();
  
            const activationThreshold = animatedElement.clientHeight * threshold;
  
            if (elementPosition.top < window.innerHeight - activationThreshold) {
                 animatedElement.classList.remove('hidden');
            } else {
                 animatedElement.classList.add('hidden');
            }
        });
    });
  </script>
  
  
  
