<div class="justify-center items-center bg-yellow-200">
    <div class="text-center mx-5 pt-10">
        <h1 class="text-5xl mb-11">«Un diseño increíble y trabajo de calidad»​</h1>
        <h3 class="text-2xl mb-11">
            La atención al detalle y el compromiso con la excelencia son
            evidentes en cada aspecto de mi nuevo sitio web. Cada elemento
            parece haber sido cuidadosamente considerado, desde la disposición
            hasta la funcionalidad.
        </h3>
        <img src="" alt="foto" />
    </div>
    <div class="flex justify-center items-center">
        <div
            class="group
               flex
               flex-col
               justify-center
               items-center
               gap-2
               w-auto
               h-auto
               sm:h-auto
               lg:h-56
               duration-500
               relative
               rounded-lg
               p-4
               bg-gray-100
               hover:-translate-y-2
               hover:shadow-xl
             shadow-gray-300
               mx-8
               my-8
             "
        >
            <div>
                <h2 class="text-2xl font-bold mb-2 text-gray-800">
                    ¿Te gustaría comenzar tu proyecto con nosotros?
                </h2>
                <p class="text-gray-700 line-clamp-3">
                    Desde la conceptualización hasta la implementación, cada paso cuenta. 
                    Haz clic en el botón de contacto y comencemos a construir tu presencia 
                    digital de forma única y efectiva. Estamos listos para convertir tus ideas 
                    en una realidad digital impactante.
                </p>
            </div>
            <button
                class="hover:bg-gray-300 bg-gray-200 text-gray-800 mt-6 rounded p-2 px-6"
            >
              <a href="/contacto">
                HABLEMOS
              </a>
            </button>
        </div>
    </div>
</div>
