---
import infoNosotros from "../data/infoNosotros.js";
import CardNosotros from "../components/cardNosotros.astro";

---

<div class="flex flex-wrap items-center justify-center mt-6 animate-fade-up animate-once">
    {
        infoNosotros.map(info =>(
             <CardNosotros 
                 title={info.title}
                 description={info.description}
             />
        ))
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        const animatedElement = document.querySelector('.animate-fade-up.animate-once');
        const threshold = 0.1;
  
        window.addEventListener('scroll', function () {
            
            const elementPosition = animatedElement.getBoundingClientRect();
  
            const activationThreshold = animatedElement.clientHeight * threshold;
  
            if (elementPosition.top < window.innerHeight - activationThreshold) {
                 animatedElement.classList.remove('hidden');
            } else {
                 animatedElement.classList.add('hidden');
            }
        });
    });
  </script>